
/* Big tablets to 1200px (widths smaller than 1140px row */
@media only screen and (max-width: 1200px) {

    .hero-text-box {
        position: absolute;
        width: 100%;
        padding: 0 2%;
    }

    .row {
        padding: 0 2%;
    }

}

/* Small tablets to big tablets: from 768 to 1023px */
@media only screen and (max-width: 1023px) {

    body {
        font-size: 18px;
    }
    section {
        padding: 60px 0;
    }
    .long-copy {
        width: 80%;
        margin-left: 10%;
    }
    .steps-box { margin-top: 10px; }
    .steps-box:last-child { margin-top: 10px; }
    .works-steps { margin-bottom: 40px;}
    .works-steps:last-of-type { margin-bottom: 60px;}

    .app-screen {width: 50%;}

    .icon-small { width: 17px   px; }
    .city-feature {font-size: 90%;}

    .plan-box {
        width: 100%;
        margin-left: 0%;
    }

    .plan-price { font-size: 250%;}

    .contact-form { width: 80%; }
    

}

/* Small phones to small tablets: from 481 to 767px */
@media only screen and (max-width: 767px) {

    body { font-size: 16px;}
    section { padding: 30px 0;}

    .row,
    .hero-text-box {padding: 0 4%;}

    .col { 
        width:  100%;
        margin: 0 0 4% 0;
    }

    .main-nav {display: none;}

    h1 { font-size: 180%;}
    h2 { font-size: 150%;}

    .long-copy {
        width: 100%;
        margin-left: 0%;
    }

    .works-step {
        margin-bottom: 15px;
    }

    .works-step p { 
        height: 40px;
        padding-top: 8px;
        vertical-align: middle;
    }
    .works-step:last-of-type { margin-bottom: 20px;}

    .app-screen {width: 40%;}
    .steps-box:first-child {
        text-align: center;
    }

    .works-step div {
        height: 40px;
        width: 40px;
        padding: 4px;
        margin-right: 15px;
        font-size: 120%;
    }

    .icon-big { 
        text-align: center;
        vertical-align: middle;
        width: 40%;
        margin-left: 30%;    
    }

    .social-links {
        text-align: center;
        vertical-align: middle;
        margin: 0 0;
        float: none;
    }

    .footer-nav {
        text-align: center;
        width: 100%;
    }

    .store-links {
        display: inline-block;
        text-align: center;
        vertical-align: middle;
        width: 70%;
        margin: 0 15%;
    }

    .store-links a {
        padding-top: 20px;
    }

    .btn-app {
        display: inline-block;
        vertical-align: middle;
        float: none;
        text-align: center;
    }

}

/* Small Phones from 0-480px */
@media only screen and (max-width: 480px) {

    section { padding:  25px 0;}
    .contact-form { width: 100%;}
    .footer {
        padding: 20px;
    }

    
    h3 {text-align: center;}
    
    


}





